%%% Specifies the Erlang compilation options
{erl_opts, [debug_info]}.
%% The option "debug_info" instructs the compiler to include debugging information
%% in the compiled code, such as line numbers and variable names. This is useful for debugging purposes.

%%% Declares the dependencies for the project
{deps, [
  {cowboy, "2.7.0"}  % Cowboy is an HTTP server used in the project, version 2.7.0
  ,{jsx, "2.9.0"}    % JSX is a library for handling JSON encoding/decoding, version 2.9.0
]}.

%%% Configures the release settings for the application
{relx, [{release, {fleetfra_chin, "0.1.0"},
  [fleetfra_chin, %% The main application to be included in the release
    sasl]},       %% SASL (System Architecture Support Libraries) is included for logging and error reporting
  {mode, dev},    %% Defines the release mode as "dev" (development mode), suitable for testing and debugging

  %% Configuration files for the release process
  {sys_config, "./config/sys.config"}, %% Specifies the system configuration file for the release
  {vm_args, "./config/vm.args"}        %% Specifies the VM arguments file for the release

  %% Alternatively, if source files are used for configurations, the following can be used:
  %% {sys_config_src, "./config/sys.config.src"},
  %% {vm_args_src, "./config/vm.args.src"}
]}.

%%% Specifies different profiles for the release environment, in this case the "prod" profile
{profiles, [{prod, [{relx,
  [%% The default mode when using the "prod" profile is "prod" itself, no need to explicitly set this.
    {mode, prod}   %% Defines the release mode as "prod" (production mode), optimized for performance and stability.
    %% Alternatively, use the "minimal" mode to exclude the Erlang runtime system (ERTS)
    %% {mode, minimal}  %% Excludes ERTS, useful for environments where Erlang is pre-installed
  ]
}]}]}.
