.right-buttons {
    -fx-text-fill: white;
    -fx-background-color: #398300;
}
.right-buttons:hover {
    -fx-text-fill: white;
    -fx-background-color: #59b300;
    -fx-cursor: hand;
}
.form {
    -fx-width: 100%;
    -fx-align-items: center; /* Centra verticalmente */
    -fx-background-color: #B6D83D;
    -fx-border-radius: 4px;
    -fx-background-radius: 10;
}
.input-label {
    -fx-font-size: 1em;
    -fx-text-fill: #398300;
    -fx-text-transform: uppercase;
    -fx-font-weight: bold;
}
.error{
    -fx-text-fill: rgba(255, 98, 0, 0.91);
    -fx-font-weight: bold;
}
.form-container {
    -fx-max-width: 1200; /* Imposta la larghezza massima desiderata */
}
.live-title {
    -fx-font-size: 1.5em;
    -fx-text-fill: #398300;
    -fx-font-weight: bold;
}
.matches_scroll{
    -fx-background-color: transparent;
}